## Pair Programming ETL Carga I
### Modulo 2 Sprint 2
#### Lola Rubio y Judith Mellidez

Igual que en el ejercicio de pair programming de ETL Transformación II, tendréis que crear una clase que nos permita cargar los datos en SQL I.

In [1]:
import pandas as pd
import mysql.connector
import requests

In [2]:
df = pd.read_pickle('datos_union_clima_ataques_sql.pickle')

In [4]:
pd.options.display.max_columns = None

In [3]:
df.head(2)

,case_number,year,type,country,area,location,activity,name,age,time,...,midcloud,lowcloud,temp2m,lifted_index,rh2m,msl_pressure,prec_amount,snow_depth,wind10m.direction,wind10m.speed
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,18h00,...,-9999.0,-9999.0,11.421875,9.6875,4.25,1013.703125,1.234375,0.0,192.109375,2.921875
1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,11,14h00 -15h00,...,-9999.0,-9999.0,11.421875,9.6875,4.25,1013.703125,1.234375,0.0,192.109375,2.921875

Creamos la clase para cargar los datos

In [7]:
class Cargar_datos:
    
    def __init__(self, nombre_bbdd, contraseña):
        self.nombre_bbdd = nombre_bbdd
        self.contraseña = contraseña

    def crear_bbdd(self):
        mydb = mysql.connector.connect(host="localhost",
                                       user="root",
                                       password=f'{self.contraseña}') 
        mycursor = mydb.cursor()
        print("Conectada")

        try:
            mycursor.execute(f"CREATE DATABASE IF NOT EXISTS {self.nombre_bbdd};")
            
        except:
            print("La BBDD ya existe")
             
    def crear_ins_tabla(self, query):
    
        mydb = mysql.connector.connect(host="localhost",
                                       user="root",
                                       password=f'{self.contraseña}', 
                                       database=f"{self.nombre_bbdd}") 
        mycursor = mydb.cursor()
        
        try:
            mycursor.execute(query)
            mydb.commit()
          
        except mysql.connector.Error as err:
            print(err)
            print("Error Code:", err.errno)
            print("SQLSTATE", err.sqlstate)
            print("Message", err.msg)

Definimos las variables

In [8]:
bbdd = 'tiburones'
contraseña = 'AlumnaAdalab'

In [9]:
carga = Cargar_datos(bbdd,contraseña)
carga

Llamamos a la clase

In [15]:
carga.crear_bbdd()

Conectada

 Creamos las Tablas 'ataques' y 'clima'

In [16]:
tabla_ataques = '''
CREATE TABLE IF NOT EXISTS `tiburones`.`ataques`(
    `id_ataque`INT NOT NULL AUTO_INCREMENT,
    `case_number` VARCHAR(45),
    `year` BIGINT,
    `type` VARCHAR(45),
    `country` VARCHAR(45),
    `area` VARCHAR(45),
    `location` VARCHAR(45),
    `activity` VARCHAR(45),
    `name` VARCHAR(45),
    `age` BIGINT,
    `time` DATETIME,
    `species_` VARCHAR(100),	
    `injury` VARCHAR(45),
    `fecha_limpia` DATE,
    `fatal` VARCHAR(4),
    `sex` VARCHAR(4),
    PRIMARY KEY (`id_ataque`,`country`),
    INDEX `fk_country_idx` (`country`)
    )
ENGINE = InnoDB;'''

In [17]:
tabla_clima = '''
CREATE TABLE IF NOT EXISTS `tiburones`.`clima`(
  `id_clima` INT NOT NULL AUTO_INCREMENT,
  `pais` VARCHAR(45) NOT NULL ,
  `rh_950mb` DOUBLE NOT NULL,
  `rh_900mb` DOUBLE NOT NULL,
  `rh_850mb` DOUBLE NOT NULL,
  `rh_800mb` DOUBLE NOT NULL,
  `rh_750mb` DOUBLE NOT NULL,
  `rh_700mb` DOUBLE NOT NULL,
  `rh_650mb` DOUBLE NOT NULL,
  `rh_600mb` DOUBLE NOT NULL,
  `rh_550mb` DOUBLE NOT NULL,
  `rh_500mb` DOUBLE NOT NULL,
  `rh_450mb` DOUBLE NOT NULL,
  `rh_400mb` DOUBLE NOT NULL,
  `rh_350mb` DOUBLE NOT NULL,
  `rh_300mb` DOUBLE NOT NULL,
  `rh_250mb` DOUBLE NOT NULL,
  `rh_200mb` DOUBLE NOT NULL,
  `wind_950mb` DOUBLE NOT NULL,
  `wind_900mb` DOUBLE NOT NULL,
  `wind_850mb` DOUBLE NOT NULL,
  `wind_800mb` DOUBLE NOT NULL,
  `wind_750mb` DOUBLE NOT NULL,
  `wind_700mb` DOUBLE NOT NULL,
  `wind_650mb` DOUBLE NOT NULL,
  `wind_600mb` DOUBLE NOT NULL,
  `wind_550mb` DOUBLE NOT NULL,
  `wind_500mb` DOUBLE NOT NULL,
  `wind_450mb` DOUBLE NOT NULL,
  `wind_400mb` DOUBLE NOT NULL,
  `wind_350mb` DOUBLE NOT NULL,
  `wind_300mb` DOUBLE NOT NULL,
  `wind_250mb` DOUBLE NOT NULL,
  `wind_200mb` DOUBLE NOT NULL,
  `index` FLOAT,
  `timepoint` FLOAT,
  `cloudcover` DOUBLE,
  `highcloud` FLOAT NOT NULL, 
  `midcloud` FLOAT NOT NULL,
  `lowcloud` FLOAT NOT NULL,
  `temp2m` DOUBLE,
  `lifted_index` DOUBLE,
  `rh2m` DOUBLE,
  `msl_pressure` DOUBLE,
  `prec_amount` DOUBLE,
  `snow_depth` DOUBLE,
  `wind10m.direction` DOUBLE,
  `wind10m.speed` DOUBLE NOT NULL,
   PRIMARY KEY (`id_clima`,`pais`),
   INDEX `fk_pais_idx` (`pais`)
  )
  ENGINE = InnoDB;'''

Llamamos a los métodos

In [18]:
carga.crear_ins_tabla(tabla_ataques)
carga.crear_ins_tabla(tabla_clima)