## Pair Programming ETL Transformación I
### Modulo 2 Sprint 2
#### Lola Rubio y Judith Mellidez 

Tendréis que usar el csv attacks_limpieza_completa que tenéis adjunto abajo.

En la lección de hoy aprendimos como transformar nuestros datos para que estén preparados para almacearlos en una BBDD. En este momento tenemos dos fuentes de datos:

In [1]:
from IPython.core.interactiveshell import InteractiveShell # Nos permite mostar más de una salida por celda
InteractiveShell.ast_node_interactivity = "all" # Nos permite mostar más de una salida por celda

import requests
import pandas as pd
import numpy as np
import ast

1. El csv con los ataques de tiburones que hemos estado limpiando hasta ahora, el que os hemos adjuntado (attacks_limpieza_completa). Sentiros libres de usar vuestros propios csv en caso de que queráis.
2. El csv con los datos climáticos de los principales paises que tienen ataques de tiburones, el que creamos en el pair programming de ayer.

El objetivo de la sesión de hoy será juntar en un único csv la información de ambas fuentes. Para ello:

- Cargaremos los dos ficheros de datos

In [19]:
df_climatico = pd.read_csv('attacks_climaticoETLI.csv')
df_climatico.head(2)

,timepoint,cloudcover,highcloud,midcloud,lowcloud,rh_profile,wind_profile,temp2m,lifted_index,rh2m,msl_pressure,prec_type,prec_amount,snow_depth,wind10m.direction,wind10m.speed,lon,lat,pais
0,3,1,-9999,-9999,-9999,"[{'layer': '950mb', 'rh': 3}, {'layer': '900mb...","[{'layer': '950mb', 'direction': 210, 'speed':...",12,15,4,1026,none,0,0,270,2,-100.445882,39.78373,USA
1,6,1,-9999,-9999,-9999,"[{'layer': '950mb', 'rh': 2}, {'layer': '900mb...","[{'layer': '950mb', 'direction': 345, 'speed':...",12,15,3,1027,none,0,0,15,2,-100.445882,39.78373,USA

In [20]:
df_attacks =pd.read_csv('attacks_limpieza_completa.csv',index_col = 0) 
df_attacks.head(2)

,year,type,country,age,species_,fecha_limpia,fatal,sex,latitud,longitud,...,fatal_N,fatal_Unknown,fatal_Y,fatal_N.1,fatal_Unknown.1,fatal_Y.1,species_.1,fecha_limpia.1,type.1,age_NORM
0,2018,Boating,usa,57.0,White shark,Jun,N,F,39.78373,-100.445882,...,1,0,0,1,0,0,4,7,1,9.116327
1,2018,Unprovoked,usa,11.0,Unespecific,Jun,N,F,39.78373,-100.445882,...,1,0,0,1,0,0,3,7,7,3.804860

In [28]:
df_paises_climaticos =df_attacks[df_attacks['country'].isin(['usa','australia','new zealand','south africa','papua new guinea'])]
df_paises_climaticos

,year,type,country,age,species_,fecha_limpia,fatal,sex,latitud,longitud,...,fatal_N,fatal_Unknown,fatal_Y,fatal_N.1,fatal_Unknown.1,fatal_Y.1,species_.1,fecha_limpia.1,type.1,age_NORM
0,2018,Boating,usa,57.0,White shark,Jun,N,F,39.783730,-100.445882,...,1,0,0,1,0,0,4,7,1,9.116327
1,2018,Unprovoked,usa,11.0,Unespecific,Jun,N,F,39.783730,-100.445882,...,1,0,0,1,0,0,3,7,7,3.804860
2,2018,Invalid,usa,48.0,Unespecific,Jun,N,M,39.783730,-100.445882,...,1,0,0,1,0,0,3,7,3,8.403629
3,2018,Unprovoked,australia,27.0,Unespecific,Jun,N,M,-24.776109,134.755000,...,1,0,0,1,0,0,3,7,7,6.313925
5,2018,Unprovoked,australia,27.0,Unespecific,Jun,N,M,-24.776109,134.755000,...,1,0,0,1,0,0,3,7,7,6.313925
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6210,0,Unprovoked,south africa,27.0,Unespecific,Jul,Y,M,-28.816624,24.991639,...,0,0,1,0,0,1,3,6,7,6.313925
6212,0,Unprovoked,usa,27.0,Unespecific,Unknown,N,F,39.783730,-100.445882,...,1,0,0,1,0,0,3,14,7,6.313925
6213,0,Unprovoked,australia,27.0,Tiger shark,Unknown,Y,M,-24.776109,134.755000,...,0,0,1,0,0,1,2,14,7,6.313925
6214,0,Unprovoked,australia,27.0,Tiger shark,Unknown,Y,M,-24.776109,134.755000,...,0,0,1,0,0,1,2,14,7,6.313925
6215,0,Unprovoked,australia,27.0,Tiger shark,Unknown,Y,M,-24.776109,134.755000,...,0,0,1,0,0,1,2,14,7,6.313925

In [33]:
df_paises_climaticos['country'].unique()

array(['usa', 'australia', 'south africa', 'new zealand',
       'papua new guinea'], dtype=object)

In [36]:
df_paises_climaticos.head(2)

,year,type,country,age,species_,fecha_limpia,fatal,sex,latitud,longitud,...,fatal_N,fatal_Unknown,fatal_Y,fatal_N.1,fatal_Unknown.1,fatal_Y.1,species_.1,fecha_limpia.1,type.1,age_NORM
0,2018,Boating,usa,57.0,White shark,Jun,N,F,39.78373,-100.445882,...,1,0,0,1,0,0,4,7,1,9.116327
1,2018,Unprovoked,usa,11.0,Unespecific,Jun,N,F,39.78373,-100.445882,...,1,0,0,1,0,0,3,7,7,3.804860

- Del dataframe de los datos climáticos seleccionaremos todas las columnas.

In [18]:
df_climatico.head(1)

,timepoint,cloudcover,highcloud,midcloud,lowcloud,rh_profile,wind_profile,temp2m,lifted_index,rh2m,msl_pressure,prec_type,prec_amount,snow_depth,wind10m.direction,wind10m.speed,lon,lat,pais
0,3,1,-9999,-9999,-9999,"[{'layer': '950mb', 'rh': 3}, {'layer': '900mb...","[{'layer': '950mb', 'direction': 210, 'speed':...",12,15,4,1026,none,0,0,270,2,-100.445882,39.78373,USA

In [38]:
df_climatico['rh_profile']

0      [{'layer': '950mb', 'rh': 3}, {'layer': '900mb...
1      [{'layer': '950mb', 'rh': 2}, {'layer': '900mb...
2      [{'layer': '950mb', 'rh': 2}, {'layer': '900mb...
3      [{'layer': '950mb', 'rh': 1}, {'layer': '900mb...
4      [{'layer': '950mb', 'rh': 1}, {'layer': '900mb...
                             ...
315    [{'layer': '950mb', 'rh': 14}, {'layer': '900m...
316    [{'layer': '950mb', 'rh': 14}, {'layer': '900m...
317    [{'layer': '950mb', 'rh': 15}, {'layer': '900m...
318    [{'layer': '950mb', 'rh': 15}, {'layer': '900m...
319    [{'layer': '950mb', 'rh': 15}, {'layer': '900m...
Name: rh_profile, Length: 320, dtype: object

In [37]:
df_climatico['wind_profile']

0      [{'layer': '950mb', 'direction': 210, 'speed':...
1      [{'layer': '950mb', 'direction': 345, 'speed':...
2      [{'layer': '950mb', 'direction': 180, 'speed':...
3      [{'layer': '950mb', 'direction': 270, 'speed':...
4      [{'layer': '950mb', 'direction': 180, 'speed':...
                             ...
315    [{'layer': '950mb', 'direction': 75, 'speed': ...
316    [{'layer': '950mb', 'direction': 85, 'speed': ...
317    [{'layer': '950mb', 'direction': 85, 'speed': ...
318    [{'layer': '950mb', 'direction': 85, 'speed': ...
319    [{'layer': '950mb', 'direction': 90, 'speed': ...
Name: wind_profile, Length: 320, dtype: object

In [5]:
x = df_climatico['wind_profile'].apply(pd.Series)
x.head(2)

                                                   0
0  [{'layer': '950mb', 'direction': 210, 'speed':...
1  [{'layer': '950mb', 'direction': 345, 'speed':...

In [9]:
y= df_climatico['rh_profile'].apply(pd.Series)
y.head(2)

                                                   0
0  [{'layer': '950mb', 'rh': 3}, {'layer': '900mb...
1  [{'layer': '950mb', 'rh': 2}, {'layer': '900mb...

In [10]:
df_climatico['wind_profile'] = df_climatico['wind_profile'].apply(ast.literal_eval)

In [11]:
df_climatico['rh_profile'] = df_climatico['rh_profile'].apply(ast.literal_eval)

In [14]:
 # desempaquetamos ahora la columna wind_profile  x
for i in range(len(x.columns)): 
    nombre = 'wind_direction' + str(x[i].apply(pd.Series)['layer'][0])
    valores = list(x[i].apply(pd.Series)['direction'] )
    df_climatico.insert(i, nombre, valores)

KeyError: 'layer'

In [27]:
for i in range(len(x.columns)): 
    nombre2 ='wind_speed'  + str(x[i].apply(pd.Series)['layer'][0])
    valores2 = list(x[i].apply(pd.Series)['speed'])
    df_climatico.insert(i, nombre2, valores2)

KeyError: 'layer'

In [23]:
x

                                                     0
0    [{'layer': '950mb', 'direction': 210, 'speed':...
1    [{'layer': '950mb', 'direction': 345, 'speed':...
2    [{'layer': '950mb', 'direction': 180, 'speed':...
3    [{'layer': '950mb', 'direction': 270, 'speed':...
4    [{'layer': '950mb', 'direction': 180, 'speed':...
..                                                 ...
315  [{'layer': '950mb', 'direction': 75, 'speed': ...
316  [{'layer': '950mb', 'direction': 85, 'speed': ...
317  [{'layer': '950mb', 'direction': 85, 'speed': ...
318  [{'layer': '950mb', 'direction': 85, 'speed': ...
319  [{'layer': '950mb', 'direction': 90, 'speed': ...

[320 rows x 1 columns]

In [22]:
# probamos qué nos va a salir probamos en una columna
x[0].apply(pd.Series)

                                                     0
0    [{'layer': '950mb', 'direction': 210, 'speed':...
1    [{'layer': '950mb', 'direction': 345, 'speed':...
2    [{'layer': '950mb', 'direction': 180, 'speed':...
3    [{'layer': '950mb', 'direction': 270, 'speed':...
4    [{'layer': '950mb', 'direction': 180, 'speed':...
..                                                 ...
315  [{'layer': '950mb', 'direction': 75, 'speed': ...
316  [{'layer': '950mb', 'direction': 85, 'speed': ...
317  [{'layer': '950mb', 'direction': 85, 'speed': ...
318  [{'layer': '950mb', 'direction': 85, 'speed': ...
319  [{'layer': '950mb', 'direction': 90, 'speed': ...

[320 rows x 1 columns]

In [13]:
#Hacemos un for loop para desempaquetar la columna rh_profile
for i in range(len(y.columns)): 
    nombre = "rh_prueba" + str(y[i].apply(pd.Series)['layer'][0])
    valores = list(y[i].apply(pd.Series)["rh"] )
    df_climatico.insert(i, nombre, valores)

KeyError: 'layer'

In [15]:
# Hacemos una prueba para ver cómo querdaría
y[0].apply(pd.Series)

                                                     0
0    [{'layer': '950mb', 'rh': 3}, {'layer': '900mb...
1    [{'layer': '950mb', 'rh': 2}, {'layer': '900mb...
2    [{'layer': '950mb', 'rh': 2}, {'layer': '900mb...
3    [{'layer': '950mb', 'rh': 1}, {'layer': '900mb...
4    [{'layer': '950mb', 'rh': 1}, {'layer': '900mb...
..                                                 ...
315  [{'layer': '950mb', 'rh': 14}, {'layer': '900m...
316  [{'layer': '950mb', 'rh': 14}, {'layer': '900m...
317  [{'layer': '950mb', 'rh': 15}, {'layer': '900m...
318  [{'layer': '950mb', 'rh': 15}, {'layer': '900m...
319  [{'layer': '950mb', 'rh': 15}, {'layer': '900m...

[320 rows x 1 columns]

In [16]:
df_climatico.head(2) #

,timepoint,cloudcover,highcloud,midcloud,lowcloud,rh_profile,wind_profile,temp2m,lifted_index,rh2m,msl_pressure,prec_type,prec_amount,snow_depth,wind10m.direction,wind10m.speed,lon,lat,pais
0,3,1,-9999,-9999,-9999,"[{'layer': '950mb', 'rh': 3}, {'layer': '900mb...","[{'layer': '950mb', 'direction': 210, 'speed':...",12,15,4,1026,none,0,0,270,2,-100.445882,39.78373,USA
1,6,1,-9999,-9999,-9999,"[{'layer': '950mb', 'rh': 2}, {'layer': '900mb...","[{'layer': '950mb', 'direction': 345, 'speed':...",12,15,3,1027,none,0,0,15,2,-100.445882,39.78373,USA

In [17]:
df_climatico.shape

(320, 19)

- Del dataframe de los ataques nos quedaremos solo con las filas de los países que seleccionamos en la lección de ayer:
    - USA
    - Australia
    - New Zealand
    - South Africa
    - Papua New Guinea

- Cuando ya tengamos todos los datos deseados juntaremos los dos csv.
    - Para hacer esta unión tendremos que hacer un groupby en la tabla de clima para sacar una media de las medidas climáticas por país.
    
    - Para hacer esta unión tendremos que hacer un groupby en la tabla de clima para sacar una media de las medidas climáticas por país.

In [ ]:
# os recomendamos resetear el index del dataframe de los datos climáticos para que no se repitan los nombres de las columnas.


# El primer problema al que nos podemos enfrentar es que si vemos los tipos de las columnas vemos que estas columnas son objetos, es decir, strings, lo que hará que trabajar con ellas sea un poco complicado: 
clima.dtypes

timepoint             int64
cloudcover            int64
highcloud             int64
midcloud              int64
lowcloud              int64
rh_profile           object
wind_profile         object

# en Python tenemos la librería `ast` que nos permite castear un string que dentro tiene diccionarios, o listas o tuplas a su tipo correspondiente. En nuestro caso, lo que conseguiremos es no tener strings sino listas en la columna. Esto lo haremos de la siguiente forma: 

import ast

clima['wind_profile']= clima['wind_profile'].apply(ast.literal_eval)

# una vez que tengamos la columna cambiada, una fantasía de Pandas es que si hago un apply sobre una columna cuyos valores son diccionarios o listas nos va a genererar una columna con los valores de los diccionarios o listas. Donde cada columna será key del diccionario o cada elemento de la lista. 


x = clima['wind_profile'].apply(pd.Series)


# nos creamos un dataframe nuevo con el resultado de la información de una de las columnas separadas por columnas. Esto nos va a devolver un dataframe donde cada fila será una celda del dataframe anterior. 
x = df['rh_profile'].apply(pd.Series) 

# ¿Qué es lo que ocurre cuando hacemos esto?
# Nos ha creado tantas columnas como valores tuvieramos en la lista. Donde columna es, en este caso, un diccionario (porque nuestra lista esta compuesta por distintos diccionarios)

# Ok, hemos conseguido desempaquetar la información de la lista en distintas columnas. Ahora tenemos que despempaquetar la información de los diccionarios en distintas columnas. En este caso, lo que querremos es que las key de los diccionarios sean los nombres de las columnas y los values los valores de las celdas del dataframe. Volveremos a seguir entonces la misma lógica que antes con el apply, pero en este caso necesitamos hacerlo para todo el dataframe (que es x): 

# Por eso empezamos con un for para iterar por cada una de las columnas. 
for i in range(len(x.columns)): 

    # aplicamos el apply,extraemos el valore de la key "layer" y lo almacenamos en una variable que convertimos a string 
    nombre = "rh_" + str(x[i].apply(pd.Series)["layer"][0]) 

    # hacemos lo mismo con una variable que se llame valores para "guardar" los valores de la celda
    valores = list(x[i].apply(pd.Series)["rh"] )

    # usamos el método insert de los dataframes para ir añadiendo esta información a el dataframe con la información del clima. 
    df.insert(i, nombre, valores)

# una vez que hayamos hecho esto para las dos columnas ya podremos hacer el gropuby para después unir toda la información.

- Guardar los resultados obtenidos en un csv que usaremos en próximos ejercicios de pair programming.